__pycache__/
*.pyc
.DS_Store
.env
.vscode/
data/
logs/
uecfood256_sampled/
model_saved/
data.json
*.log
dataset/
UECFOOD256/
cached_dataset/
*.ipynb
raw/
uecfood256_sample.zip
results/
dataset.zip
data.json
exported_usda_food.json
*.tex
baby_back_ribs.jpg
json/
finetuning/recipe/
evaluation/old.py
import_tools/recipe/
inference/recipe/
store/
