__pycache__/
*.pyc
.venv/
.uv-cache/
*/.venv/
*/.uv-cache/
.DS_Store
.env
.vscode/
data/
logs/
!finetuning/logs/
finetuning/logs/**
!finetuning/logs/slurm/
!finetuning/logs/slurm/.gitkeep
annotation/outputs/**
!annotation/outputs/
!annotation/outputs/.gitkeep
annotation/cache/**
!annotation/cache/
!annotation/cache/.gitkeep
uecfood256_sampled/
model_saved/
data.json
*.log
dataset/
UECFOOD256/
cached_dataset/
*.ipynb
raw/
uecfood256_sample.zip
results/
dataset.zip
data.json
exported_usda_food.json
*.tex
baby_back_ribs.jpg
json/
finetuning/recipe/
evaluation/old.py
import_tools/recipe/
inference/recipe/
store/
finetuning/model_selection*